// colors
$primaryColor: #F5F5F5;
$secondaryColor: #121212;
$pinkColor: #F05454;
$blueColor: #30475E;

// fonts
$primaryFont: Nanito;
$secondaryFont: pacifico;

// Sizes
$normalSize: 16px;
$smallSize: 12px;
$largeSize: 24px;
